@import 'sass-mq';
@import 'abstracts/variables';
@import 'abstracts/mixins';

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    @include mq($from: small) {
        display: none;
    }
}
nav {
    @include size($menu-w, calc(100% - 20px));
    background-color: $grey;
    padding: 10px 0;
    transform: translateX(0%);
    transition: transform 0.6s, width 0.6s;
    display: inline-block;
    position: absolute;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: lighten($grey, 20%) #f1f1f100;
    top: 0;
    left: 0;
    @include mq($until: small) {
        transform: translateX(-100%);
        width: 80%;
        padding-left: 10px;
    }
    &.slideIn {
        transform: translateX(0%);
        @include mq($from: small) {
            width: $menu-w;
        }
    }
    
    ul {
        list-style: none;
        padding: 0;

        a {
            @include size(95%, 76px);
            @include flex(column, center, center);
            color: $yellow;
            margin: 5px 0;
            border: 1px solid $grey;
            border-radius: 5px;
            transition: background-color 0.3s;
            @include mq($until: small) {
                @include flex(row, flex-start, center);
                width: 99%;
            }

            &.active {
                background-color: darken($grey, 10%)
            }

            &:hover {
                border: 1px solid $light-grey;
                background-color: lighten($grey, 10%);
            }
        }

        i {
            font-size: 30px;
            padding: 5px;
            text-align: center;
            vertical-align: bottom;
            @include mq($until: small) {
                font-size: 35px;
            }
        }

        span {
            font-size: 14px;
            @include mq($until: medium) {
                color: transparent
            }
            @include mq($until: small) {
                color: $yellow;
            }
        }
    }
}