form([formGroup]='loginForm', (submit)='logIn()')
    h3 Welcome:
    input(placeholder='Login' 'formControlName'='userName')
    input(type='password' placeholder='Password' 'formControlName'='password')
    .row
        input(type='submit' value='SignIn')
        input(type='button' value='SignUp' '(click)'='signUp()')
