app-viewport
    .page(main #host='')
        h2 {{article.title}}
        img(src='{{article.image}}' alt='{{article.title}}')
        p {{article.text}}
        .workshop-page-info
            span 
                i.icon-user  {{article.author$ | async}}
            app-like(
                [isActive]='article.likes',
                [likesNumber]='article.likes.length',
                (changeLike)='changeLikeHandler($event)'
            )
            app-timestamp([date]='article.createdAt' toFormat='day')
        p.tags
            span('*ngFor'='let tag of tags') {{tag}}
        a(routerLink='/workshops/feed')
            i.icon-arrow-left2
    a(
        '*ngIf'='isButtonPlus else close'
        '(click)'='changeButton()'
        '[routerLink]'='[{outlets: {"aside": "workshop"}}]' main)
        i.icon-plus
    ng-template(#close='')
        a('(click)'='changeButton()' 'routerLink'='./' main)
            i.icon-close
    router-outlet(name='aside' auxiliary)