app-viewport('link'='constructor')
    div(main)
        app-quizz-card('*ngFor'='let quizz of quizzes; let i = index'
        '[quizz]'='quizz'
        '[id]'='i'
        '[loggedUser]'='loggedUser'
        '(deleted)'='deleteQuizz($event)')
    router-outlet(name='aside' auxiliary)