app-viewport
    p(main) Quizzes works
    div(main '*appRange'='[20, 30; let i = index; let number = number') 
        | From range directive
        br
        | index: {{i}}
        br
        | number: {{number}}
    app-auxiliary-content(auxiliary)