.icon-plus,
.icon-cross {
    color: grey;
}
button.open {
    position: absolute;
    top: 5px;
    right: $aux-w + 15;
    @include mq($until: medium) {
        display: none;
    }
    &.slide {
        right: 15px;
    }
}
.auxiliary {
    @include size($aux-w, calc(100vh - #{$header-h}));
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.6s;
    background-color: darken($white, 5%);
    transform: translateX(0%);
    @include mq($until: medium) {
        display: none;
    }

    button {
        margin-left: 92%;
        margin-top: 5px;
        padding: 0;
    }

    .content {
        width: 100%;
        display: flex;
        @include flex(column, space-around, center);

         div {
            width: 80%;
            height: 200px;
            margin: 10px 0;
            background-color: pink;
        }
    }

    span {
        margin-left: 10px;
    }
    &.slide {
        transform: translateX(+100%);
    }
} 