@import 'abstracts/variables';

button {
    margin: 0 5px;
}

span {
    display: inline-block;
    width: 16px;
    height: 16px;
}

span,
button {
    color: $text-color;
}

.icon-heart-o,
.icon-heart {
    color: $text-color;
    transition: color 0.3s;
}

.icon-heart:hover {
    color: lighten($text-color, 20%);
}

.icon-heart-o:hover {
    color: darken($text-color, 50%);
}