button('(click)'='toggleAux()' '[ngClass]'='{"slide":!isAuxOpen}')
    i('[ngClass]'='isAuxOpen ? "icon-close" : "icon-plus"')
.auxiliary('[ngClass]'='{"slide":!isAuxOpen}' #host='')
    span('*ngIf'='!auxItems') Some content...
    app-tab-group