@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'sass-mq';

button {
    position: absolute;
    top: 5px;
    right: $aux-w + 15;
    transition: right 0.4s;
    padding: 0px;
    @include mq($until: medium) {
        display: none;
    }

    &.slide {
        right: 15px;
    }

    .icon-plus,
    .icon-close {
        color: grey;
    }
}

.auxiliary {
    @include size($aux-w, calc(100% - 20px));
    padding: 10px 0;
    overflow-y: auto;
    transition: width 0.4s;
    background-color: darken($white, 5%);
    scrollbar-width: thin;
    scrollbar-color: lighten($grey, 20%) #f1f1f100;
    @include mq($until: medium) {
        display: none;
    }
    @include mq($from: huge) {
        width: 600px;
    }

    &.slide {
        width: 0px;
    }
    
    span {
        margin-left: 10px;
    }
}