label('*ngIf'='label', '[for]'='id') {{label}}
input(
    '#input'=''
    '[id]'='id'
    '[placeholder]'='placeholder'
    '[maxlength]'='maxLength'
    '[minlength]'='minLength'
    '[(ngModel)]'='value'
    '(ngModelChange)'='onChange(value)'
    '(blur)'='onBlur($event)' 
)
