label('*ngIf'='label', '[for]'='id') {{label}}
input(
    '[type]'='inputType'
    '#input'=''
    '[id]'='id'
    '[placeholder]'='placeholder'
    '[(ngModel)]'='value'
    '(ngModelChange)'='onChange(value)'
    '(blur)'='onBlur($event)' 
)
