select(
    '[(ngModel)]'='value'
    '(ngModelChange)'='onChange(value)'
)
    option('[ngValue]'='null' disabled selected hidden) {{placeholder}}
    option('*ngFor'='let option of options' '[ngValue]'='option') {{option}}

