label('*ngIf'='label' '[for]'='id') {{label}}
select(
    '[id]'='id'
    '[(ngModel)]'='value'
    '(ngModelChange)'='onChange(value)'
    '[size]'='size'
)
    option('value'='' disabled selected hidden) {{placeholder}}
    ng-container('*ngIf'='!toShow; else forObject')
        option('*ngFor'='let option of options' '[ngValue]'='option') {{option}}
    ng-template(#forObject='')
        option('*ngFor'='let option of options' '[ngValue]'='option[toGet]' '[label]'='option[toShow] | lowercase')

