button.open
    i.icon-plus('*ngIf'='!isAuxOpen' '(click)'='toggleAux()')
.auxiliary('*ngIf'='isAuxOpen')
    button('(click)'='toggleAux()')
        i.icon-cross
    span('*ngIf'= '!auxItems') Some content...
    .content
        div('*ngFor'='let item of auxItems') Some future content