$mq-responsive: true;
$mq-breakpoints: (
    small: 740px,
    medium: 980px,
    large: 1300px,
    huge: 1700px
);
$mq-static-breakpoint: small;
$mq-show-breakpoints: (small, medium, large, huge);

$poppins: 'Poppins';
$titillium: 'Titillium Web';

$white: #ffffff;
$yellow: #FEDD41;
$light-grey: #8b8b8b;
$grey: #2c2d32;
$dark-grey: #2a2a2e;
$black: #000000;
$text-color: #878c9f;

$tagcolors: #FFF587, #FF8C64, #FF665A, #7D6B7D, #A3A1A8;

$header-h: 70px;
$menu-w: 80px;
$aux-w: 300px;

