form('[formGroup]'='quizzForm' '(submit)'='onSubmit()' autocomplete='off')
    app-text-input(
        'formControlName'='name'
        'label'='Quizz name:'
        '[id]'='"quizzName"'
        'placeholder'='Start typing...'
    )
    app-error-message('[field]'='quizzForm.get("name")')
    app-dropdown(
        'formControlName'='posts'
        '[options]'='workshops$ | async'
        '[label]'='"Select related workshops: "'
        '[id]'='"posts"'
        '[isMultiple]'='true'
        'toShow'='title'
        'toGet'='id'
    )
    app-error-message('[field]'='quizzForm.get("posts")')
    fieldset('*ngFor'='let question of quizzForm.get("questions")["controls"]; let questionIndex = index')
        app-text-input(
            '[formControl]'='question.controls["question"]'
            'label'='Question {{questionIndex + 1}}:'
            '[id]'='"question" + questionIndex'
            'placeholder'='question'
        )
        app-error-message('[field]'='question.get("question")')
        app-dropdown(
            '[formControl]'='question.controls["questionType"]'
            '[options]'='["input", "select"]'
            '[label]'='"Question type:"'
            '[id]'='"Question" + questionIndex + "type"'
            '[isMultiple]'='false'
        )
        ng-container('*ngIf'='question.controls["questionType"].value[0] === "input" || question.controls["questionType"].value === "input"')
            app-text-input(
                '[inputType]'='"number"'
                'label'='Correct answer: '
                '[id]'='"correctAnswer"  + questionIndex'
                '[formControl]'='question.controls["correctAnswer"]'
            )
            app-error-message('[field]'='question.get("correctAnswer")')
        ng-container('*ngIf'='question.controls["questionType"].value[0] === "select"')
            hr
            ng-container('*ngFor'='let variant of question.controls.answerVariants?.controls; let variantIndex = index')
                app-checkbox(
                    '[formControl]'='variant.controls["isCorrect"]'
                    'label'='is correct'
                )
                app-text-input(
                    '[formControl]'='variant.controls["answer"]'
                    'placeholder'='variant {{variantIndex + 1}}'
                )
                app-error-message('[field]'='variant.get("answer")')
                button(
                    'class'='delete variant'
                    'type'='button'
                    '(click)'='deleteAnswerVariant(questionIndex, variantIndex)'
                )
                    i.icon-remove
            button(
                'type'='button'
                '(click)'='addAnswerVariant(questionIndex)'
            ) Add answer variant
            app-error-message('[field]'='question.get("answerVariants")')
        button(
            'class'='delete question'
            'type'='button'
            '(click)'='deleteQuestion(questionIndex)'
        )
            i.icon-remove
    button(type='button' '(click)'='addQuestion()') Add question
    app-error-message('[field]'='quizzForm.get("questions")')
    br
    button('type'='submit') Submit