app-top-pane([isNavMenuOpen]='isNavMenuOpen', (navMenuChange)='isNavMenuOpen = $event')
.wrapper
    app-side-menu([isNavMenuOpen]='isNavMenuOpen', (closeMenu)='isNavMenuOpen = false')
    <router-outlet></router-outlet>