app-top-pane([isNavMenuOpen]='isNavMenuOpen', (navMenuChange)='isNavMenuOpen = $event')
.app-wrapper
    router-outlet
    app-side-menu([isNavMenuOpen]='isNavMenuOpen', (closeMenu)='isNavMenuOpen = false')