@import 'abstracts/variables';

button {
    background-color: $yellow;
    width: 100%;
    min-width: 80px;
    color: $white;
    border-radius: 5px;
    padding: 5px 0;
    margin: 3px 0;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($yellow, 20%);
    }
    
    &.active {
        background-color: darken($yellow, 20%);
        color: $grey;
    }
}