img('*ngIf'='userToShow?.picture; else noImage' '[src]'='userToShow?.picture', alt='{{userToShow?.firstName}}')
ng-template('#noImage'='')
    div('[appTextToColor]'='userToShow?.firstName + " " + userToShow?.lastName' '[isLightenOnHover]'='true')
        span {{initials}}