@import 'abstracts/variables';
@import 'abstracts/mixins';

img {
    @include size(50px, 50px);
}
div{
    display: inline-block;
    @include size(50px, 50px);
    background-color: $yellow;
    border-radius: 50%;

    span {
        line-height: 50px;
    }
}