img('*ngIf'='user?.picture; else noImage' '[src]'='user.picture', alt='{{user?.firstName}}')
ng-template('#noImage'='')
    div('[appTextToColor]'='user?.firstName + " " + user?.lastName' '[isLightenOnHover]'='true')
        span {{initials}}