form('[formGroup]'='form' '(submit)'='onSubmit(form)' novalidate='', autocomplete='off')
    ng-container('*ngFor'='let field of config; let i = index')
        label('*ngIf'='field.label') {{i + 1}}. {{field.label}}
        ng-container(appDynamicField '[config]'='field' '[group]'='form')
    button(type='submit') Submit