@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'sass-mq';

div {
    @include flex(column, space-around, center);
    width: 90%;
    margin: auto;
}

a {
    position: fixed;
    top: $header-h;
    right: 10px;
    padding: 5px;
    @include mq($until: medium) {
        display: none;
    }

    .icon-close,
    .icon-plus {
        color: grey;
    }
}

a.close {
    right: 310px;
    @include mq($from: huge) {
        right: 600px;
    };
}