@import 'abstracts/variables';
@import 'sass-mq';

:host {
    position: absolute;
    left: $menu-w;
    width: calc(100% - #{$menu-w});
    height: calc(100vh - #{$header-h});
    background-image: url('../../../assets/images/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mq($until: small) {
        left: 0;
    }
}

h1, h2 {
    text-align: center;
    color: lighten($yellow, 20%);
}