@import 'abstracts/variables';
@import 'abstracts/mixins';

div {
    @include flex(row, space-between, center);
}

p {
    color: $text-color;
    padding: 0px 5px;
    word-wrap: break-word;
    text-align: center;
    flex-grow: 1;
    max-width: calc(100% - 35px);
    font-size: 14px;
}

app-timestamp {
    font-size: 11px;
    float: left;
}
