@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'sass-mq';

.workshop-feed-content {
    @include flex(row, space-around, stretch);
    flex-wrap: wrap;
    padding: 0 120px;
    @include mq($until: small) {
        padding: 0;
    }
}

app-article {
    width: 31%;
    text-align: center;
    margin: 20px 0;
    @include mq($until: 1170px) {
        width: 45%;
    }
    @include mq($until: 900px) {
       width: 90%;
    }
    @include mq($from: huge) {
        width: 31%
    }
}

.tag-group {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 100px;

    @include mq($until: small) {
        display: none;
    }
}