@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'sass-mq';

.workshop-feed-content {
    @include flex(row, space-around, stretch);
    flex-wrap: wrap;
    padding: 0 120px;
    @include mq($until: small) {
        padding: 0;
    }
}

app-article {
    width: 31%;
    text-align: center;
    margin: 20px 0;
    @include mq($until: 1170px) {
        width: 45%;
    }
    @include mq($until: 900px) {
       width: 90%;
    }
    @include mq($from: huge) {
        width: 31%
    }
}

.tag-group {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 100px;

    @include mq($until: small) {
        display: none;
    }
}

.categories {
    position: fixed;
    top: 80px;
    left: 90px;
    width: 100px;

    @include mq($until: small) {
        display: none;
    }
    
    a, button {
        background-color: $light-grey;
        display: inline-block;
        width: 100%;
        color: $white;
        border-radius: 5px;
        padding: 5px 0;
        margin: 3px 0;
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($light-grey, 20%);
        }
        
        &.active {
            background-color: darken($light-grey, 20%);
            color: $yellow;
        }
    }
}