@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'sass-mq';

:host {
    @include flex(column, space-between, stretch);
    padding-top: 10px;
    width: 300px;
    @include mq($from: huge) {
        width: 600px;
    }

    app-comment {
        margin: 10px 0;
    }

    button {
        color: $white;
        margin-right: 5px;
        border-radius: 5px;
        padding: 3px 5px;
        font-size: 13px;
        float: right;

        &:hover {
            box-shadow: 0 0 2px 2px $text-color;
        }
    }

    button:nth-of-type(1) {
        background-color: $yellow;
        color: black;
    }

    button:nth-of-type(2) {
        background-color: $grey;
    }
}