ng-container('*ngFor'='let commentItem of comments, let i = index')
    app-comment([comment]='commentItem' '*ngIf'='editorNumber != i')
    ng-container('*ngIf'='loggedUser?.id == commentItem._author')
        ng-container('*ngIf'='editorNumber == i')
            span Edit comment:
            app-edit-add-comment([commentText]='commentItem.text', (changeComment)='editComment(commentItem.id, $event)')
        div('*ngIf'='editorNumber != i')
            button((click)='openEditor(i)') edit
            button((click)='deleteComment(commentItem.id)') delete
.editor
    span Add comment:
    app-edit-add-comment([commentText]='newComment', (changeComment)='addComment($event)')