@import 'abstracts/variables';
@import 'abstracts/mixins';

.toast {
    position: relative;
    @include flex(row, space-between, center);
    margin-bottom: 20px;
    padding: 10px 9px;
    padding-left: 20px;
    width: 280px;
    background-color: white;
    border-radius: 26px;

    .text {
        font-size: 20px;
        line-height: 25px;
        word-wrap: break-word;
        max-width: 270px;
    }
}

.success {
    background-color: #59d981;
}

.info {
    background-color: lighten($yellow, 10);
}

.error {
    background-color: #f03c3c;
}

.icon-close {
    font-size: 14px;
    cursor: pointer;
}
