@import 'sass-mq';

@import 'abstracts/variables.scss';
@import 'abstracts/functions.scss';
@import 'abstracts/extends.scss';
@import 'abstracts/mixins.scss';

@import 'base/normalize/normalize.scss';
@import 'base/typography.scss';
@import 'base/icomoon.scss';
@import "~@angular/cdk/overlay";
@include cdk-overlay();

body {
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: lighten($light-grey, 20%);
}

::-webkit-scrollbar-track {
    background: #f1f1f100; 
}

::-webkit-scrollbar-thumb {
    background: lighten($grey, 20%);
    border-radius: 10px;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
}

.confirm-popup_backdrop {
    background-color: transparentize($grey, 0.6);
}