@import 'abstracts/mixins';
@import 'abstracts/variables';

:host {
    @include flex(row, space-between, center);
    position: relative;
    padding-top: 10px;
    background-color: inherit;
    width: 100%;

    app-tab {
        flex-grow: 1;
    }

    a {
        color: white;

        &.active {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.tabs-body {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 100%;
    @include flex(column, space-around, center);
    padding: 10px 0;

    div {
        width: 150px;
        height: 150px;
        margin: 10px;
        background-color: pink;
    }
}