header
    button.menu('[ngClass]'='{"hide": isSearchOpen}' '(click)'='toggleNavMenu()')
        i('[ngClass]'='isNavMenuOpen ? "icon-close" : "icon-menu"')
    div('[ngClass]' = '{"wide": isSearchOpen}')
        a(routerLink='/workshop')
            img(src='../../../assets/images/logo.png', alt='logo')
        .search('[ngClass]'='{"wide": isSearchOpen}')
            input(placeholder='Search' '#forSearch'='' '(keyup.enter)'='doSearch(forSearch.value); forSearch.value=""')
            button('(click)'='doSearch(forSearch.value); forSearch.value=""')
                i.icon-search
            button.close('*ngIf'='isSearchOpen' '(click)'='toggleSearch()') x
    button.search-icon('*ngIf'='!isSearchOpen' '(click)'='toggleSearch()')
        i.icon-search
    button.userAccount('[ngClass]'='{"hide": isSearchOpen}' '(click)'='toggleUserMenu()')
        span {{user.name}}
        img('*ngIf'='user.imgSrc; else noImage' '[src]'='user.imgSrc', alt='{{user.name}}')
        ng-template('#noImage'='')
            .avatar
                span {{initials}}
