app-viewport
    span(main) statistic works
    div(main)
        h3 From collapsible. state: off, minHeight: 100px, animation: enable
        p('*appCollapsable'='"100px" state "off" enableAnimation true button button1')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
        ng-template('#button1'='' let-control='control' let-title='title')
            button.btn1('(click)'='control()') {{title}}
    div(main)
        h3 From collapsible. state: on, minHeight: 200px, animation: enable
        p('*appCollapsable'='"150px" state "on" enableAnimation true button button2')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
        ng-template(#button2='' let-control='control' let-title='title')
            button.btn2('(click)'='control()') {{title}}
    div(main)
        h3 From collapsible. state: on, minHeight: 100px, animation: disable
        p('*appCollapsable'='"100px" state "on" enableAnimation false button button3')
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa maxime earum iste labore laborum dicta debitis in enim? Rerum quae repellendus temporibus aperiam amet delectus autem maxime quasi eum?
        ng-template(#button3='' let-control='control' let-title='title')
            button.btn3(main '(click)'='control()') {{title}}