app-card
    a(header routerLink='/workshops/{{article.id}}')
        h3 {{article.title}}
    a(content routerLink='/workshops/{{article.id}}')
        img(src='{{article.img}}' alt='{{article.title}}')
        p {{article.description}}
    div(footer)
        .row
            span 
                i.icon-user  {{article.author}}
            app-timestamp([date]='article.date' toFormat='day')
        app-like(
            [isActive]='article.isFavorite',
            [likesNumber]='article.likes',
            (changeLike)='changeLikeHandler($event)'
        )
        p.tags
            span('*ngFor'='let tag of article.tags') {{tag}}