@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'sass-mq';

h3 {
    width: 100%;
}

img {
    @include size(100%);
}

p {
    @include size(100%, 100px);
    overflow-y: hidden;
}

.row {
    width: 100%;
    height: 40px;
    @include flex(row, space-between, center);
}

.tags {
    width: 100%;
    height: 20px;
    @include flex(row, center, center);

    span {
        padding: 0 5px;
        margin: 0 3px;
        text-decoration: underline;
        font-size: 14px;
        background-color: $text-color;
        color: $white;
        border-radius: 5px;
    }
}