app-card
    a(header routerLink='../{{quizz.id}}')
        h3 {{quizz.name}}
    div.user(content '*ngIf'='usersMap[quizz.author] as author')
        app-user-pic('[user]'='author')
        span {{author?.firstName + ' ' + author?.lastName}}
    ng-container(footer)
        app-timestamp('toFormat'='day', [date]='quizz.updatedAt')
        div.button-space
            button('*ngIf'='loggedUser?._id === quizz.author' '(click)'='delete(quizz.id)')
                i.icon-remove