@import 'abstracts/mixins';

:host {
    width: 100%;
}

app-card {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    margin: 10px;
}

span {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}