@import 'abstracts/mixins';

div {
    background-color: white;
    width: calc(93% - 10px);
    padding: 5px;
    margin: 10px;
    @include flex(row, space-between, center);

    a:hover {
        text-decoration: underline;
        color: grey;
    }
}